
<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Lista de Contatos</title>
</head>
<body>

	<header>
		<nav>
			<div class="nav-wrapper  deep-purple accent-3">
				<a href="#" class="brand-logo">Cadastrar Novo contato</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a th:href="@{/new}"
						class="waves-effect waves-light btn #689f38 light-green darken-2"><i
							class="material-icons left">add_circle</i>Salvar Novo contato</a></li>
				</ul>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<table class="centered">
			<thead>
				<tr>
					<th>id</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${personas}">
					<td th:text="${persona.id}"></td>
					<td th:text="${persona.name}"></td>
					<td th:text="${persona.telefone}"></td>
					<td><a th:href="@{/editar/} + ${persona.id}"
						class="waves-effect btn yellow"><i
							class="material-icons left ">edit</i>Editar</a> <a
						th:href="@{/eliminar/} + ${persona.id}"
						class="waves-effect btn red"><i class="material-icons left ">delete</i>Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<script>
			funcoes.js
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
